@tailwind base;

:root {
  background: #151916;
  color: white;
  letter-spacing: -0.05em;
  font-family: sans-serif;
  font-size: 21px;
}

:global(h1) {
  font-size: 3rem;
  font-weight: normal;
}

:global(a) {
  color: #88d56f;
}

:global(.primary) {
  background: #88d56f;
  padding: 10px;
  border-radius: 8px;
  border: none;
  color: #243c40;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  font-size: 1rem;
  font-weight: bold;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}

:global(.secondary) {
  /*background: #c7ced2;*/
  padding: 10px;
  border-radius: 8px;
  border: none;
  color: #c7ced2;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
  border: 1px solid #3e4346;
}

:global(.primary:hover, .secondary:hover) {
  transform: scale(1.1);
}

:global(.secondary:hover) {
  background: #3e4346;
  color: #fff;
}